html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 120px;
    background: none;
}

.page-index {
    background: url(../images/by-the-lake.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}

.page-01-fas {
    background: url(../images/lady-musgrave-blue.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-02-fpca {
    background: url(../images/sunrise-in-florida-ii.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-03-quick-tour {
    background: url(../images/zen.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-04-content-writer {
    background: url(../images/morning-dew-on-leaves.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-05-designer {
    /* Replace with an image of the community - maybe a Flock picture? */
    background: url(../images/aurora-over-iceland.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-06-developer {
    background: url(../images/paisaje.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-07-people-person {
    background: url(../images/aurora-over-iceland.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-08-translator {
    background: url(../images/aurora-over-iceland.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}
.page-09-web-dev-admin {
    background: url(../images/aurora-over-iceland.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
